@page
@using Azure.Data.Tables
@using Azure.Identity
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Home page";

    var tableName = "IBASKantineMenu";
    var accountName = "ibasbikeproduction131213";

    // Brug DefaultAzureCredential til Managed Identity
    var tableClient = new TableClient(
        new Uri($"https://{accountName}.table.core.windows.net"),
        tableName,
        new DefaultAzureCredential()
    );

    // Hent dataene fra tabellen
    var menuItems = tableClient.Query<TableEntity>().ToList();
}

<div class="container my-5">
    <div class="text-center">
        <h1 class="display-4 mb-4">Kantinens Menu - Uge 45</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover shadow-sm">
            <thead>
                <tr>
                    <th scope="col">Dag</th>
                    <th scope="col">Varm Ret</th>
                    <th scope="col">Kold Ret</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in menuItems)
                {
                    <tr>
                        <td>@item.GetString("Dag")</td>
                        <td>@item.GetString("Varm_Ret")</td>
                        <td>@item.GetString("Kold_Ret")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
