@page
@using Azure.Data.Tables;
@using Azure;

@model IndexModel
@{
    ViewData["Title"] = "Home page";

    var tablename = "IBASKantineMenu";
    var connectionString = "DefaultEndpointsProtocol=https;AccountName=ibasbikeproduction131213;AccountKey=h8F2fwTr7NXt8ThM15XuIp2vtuxgiQBQMOsr1yJj1b2pK5ypNTe90AgtWrBNbgrCFwvR9XylQqhD+ASt0su9rA==;EndpointSuffix=core.windows.net";

    TableClient tableClient = new TableClient(connectionString, tablename);
    Pageable<TableEntity> entities = tableClient.Query<TableEntity>();

    
    var menuItems = entities.ToList(); 
}

<div class="container my-5">
    <div class="text-center">
        <h1 class="display-4 mb-4">Kantinens Menu - Uge 45</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover shadow-sm">
            <thead>
                <tr>
                    <th scope="col">Dag</th>
                    <th scope="col">Varm Ret</th>
                    <th scope="col">Kold Ret</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in menuItems)
                {
                    <tr>
                        <td>@item["Dag"]</td> 
                        <td>@item["VarmRet"]</td> 
                        <td>@item["KoldRet"]</td> 
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
